<html>

  <header>
    <h2>Sign up</h2>
  </header>

<%= stylesheet_link_tag 'registrations', media: 'all' %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(Minimum <%= @minimum_password_length %> numbers and characters)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :target_weight %><br />
    <div class="input-group">
      <%= f.text_field :target_weight %>
      <span class="input-addon">kg</span>
    </div>
  </div>

  <div class="field">
    <%= f.label :target_date %><br />
    <%= f.date_field :target_date %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'SignUp-button' %>
  </div>

  <div class="Back">
    <%= link_to "Back", :back, class: 'back-button' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</html>