<html>

  <header>
    <h1>Edit Daily Weight</h1>
  </header>

  <body>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag 'edit_daily_weight', media: 'all' %>

  <%= form_with model: @daily_weight, url: daily_weight_path(@daily_weight), method: :patch, local: true do |form| %>

    <%= form.label :current_date, 'Date' %>
    <%= form.date_field :current_date, required: true %>

    <%= form.label :current_weight, 'Weight' %>
    <%= form.text_field :current_weight, required: true %>
    <span class="input-addon">kg</span>

    <%= form.submit 'Update Record', class: 'custom-edit-button' %>
  <% end %>

  <div>
    <%= link_to 'Destroy Record', daily_weight_path(@daily_weight), data: { turbo_method: :delete }, class: 'destroy' %>
  </div>

  <div>
    <%= link_to "Back", :back, class: 'back-button' %>
  </div>

  </body>
</html>