<h1>Edit Daily Weight</h1>

<%= form_with model: @daily_weight, url: daily_weight_path(@daily_weight), method: :patch, local: true do |form| %>
  <!-- 編集フォームの内容をここに記述 -->
  <%= form.label :current_date, 'Current Date' %>
  <%= form.date_field :current_date, required: true %>

  <%= form.label :current_weight, 'Current Weight' %>
  <%= form.text_field :current_weight, required: true %>
  <span class="input-addon">kg</span>

  <%= form.submit 'Update Record', class: 'custom-edit-button' %>
<% end %>

<!-- データの破棄（destroy）リンク -->
<%= link_to 'Destroy Record', @daily_weight, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy' %>