<html>
  <header>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag 'daily_weights', media: 'all' %>
    <tr>
      <th>Daily Weight</th>
    </tr>
  </header>

  <%= form_with model: DailyWeight.new, url: daily_weights_path, local: true do |form| %>
    <div>
      <%= form.label :current_date, 'Current Date' %>
      <%= form.date_field :current_date, required: true %>
    </div>

    <div>
      <%= form.label :current_weight, 'Current Weight' %>
      <%= form.text_field :current_weight, required: true %>
      <span class="input-addon">kg</span>
    </div>

    <div>
      <%= form.submit 'Submit', class: 'custom-submit-button' %>
    </div>
  <% end %>

    <div>
      <%= link_to "Back", :back, class: 'back-button' %>
    </div>

<% @daily_weights.order(current_date: :asc).each do |daily_weight| %>
  <div>
    <%= link_to "#{daily_weight.current_date} #{daily_weight.current_weight}kg Edit Record", edit_daily_weight_path(daily_weight), class: 'edit' %>
  </div>
<% end %>
</html>